@charset "UTF-8";

@import "fontello.css";
@import "animation.css";
div.alert  {
    width: 250px;
    height: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    margin: 10px 0 20px 10px;
    background: #ffffff;
}
div.alert p {
    display: flex;
    flex: 1;
    height: 100%;
    margin: 0 0 0 10px;
    align-items: center;
}
div.alert i {
    position: absolute;
    top: 0;
    right: 1px;
    border: none;
    margin: 0;
    font-size: 18px;
    padding: 7px;
    background: 0 0;
    color: #72777c;
    cursor: pointer;
}
div.alert i::before {
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
}
div.alert-success {
    border-left: 4px solid green;
}
div.alert-error {
    border-left: 4px solid red;
}
#field_1, #field_2,#field_8,#field_4 {
    width: 10%;
}
#field_3, #field_5,#field_7, #field_6 {
    width: 15%;
}
#form_addtolist th input, #form_addtolist th button {
    width: 100%!important;
}
#form_addtolist th input {
    padding-left: 5px;
}
#image_url_group {
    text-align: center;
    justify-content: center;
}
#upload_image {
    max-width: 100%!important;
    height: auto!important;
    margin: auto;
}
.image_group {
    position: relative;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#close_upload {
    font-weight: 900;
    color: red;
    position: absolute;
    right: 5px;
    top: 5px
}
#add_btn {

}
#add_btn i.icon-spin5, #save_btn i.icon-spin5 {
    display: none;
    color: #000000;
}
#add_btn span.icon_text, #save_btn span.icon_text {

}
